<ng-container *ngIf="totalCount |async let tCount">
    <span id="myCartTotalCount" *ngIf="tCount>0">{{tCount}}</span>

    <div class="my-cart-dropdown-content">
        <div class="my-cart-content-top">
            <span class="my-cart-header" *ngIf="tCount == 1">My Cart
                ({{tCount}} item)</span>
            <span class="my-cart-header" *ngIf="tCount > 1">My Cart
                ({{tCount}} items)</span>
        </div>

        <div class="cart-items-wrapper">

            <div class="cart-item" *ngFor="let item of cartItems|async">
                <a [routerLink]="item.productLink">
                    <img class="my-cart-pr-img" src="{{storageUrl + '/'+ item.imagePath}}" alt="" (click)="loadImageZoom()">
                    <div class="my-cart-pr-details">
                        <div class="pr-name-wrapper">
                            <span class="my-cart-brand-name">{{item.brandName}} </span>
                            <span class="my-cart-pr-name">{{item.productName}}</span>
                        </div>
    
                        <div>
                            <span class="my-cart-pr-size">Size: XL</span>
                            <span class="my-cart-pr-quantity">Adet: {{item.quantity}}</span>
                        </div>
    
                        <div>
                            <span class="my-cart-pr-price">{{item.price |
                                currency:'USD'}}</span>
                        </div>
                    </div>
                </a>
    
                <hr>
            </div>

        </div>
        

        <div class="my-cart-content-bottom">
            <a routerLink="/my-cart" id="btnGoCart" class="btn">Go To Cart</a>
            <a routerLink="/my-cart/payment" id="btnCheckout" class="btn">Checkout</a>
        </div>
    </div>
</ng-container>