.sign-in-up-container {
    margin: 0 auto;
    // align-items: center;
    justify-content: center;
    width: 600px;
}

#signInUpTab {
    justify-content: center;
    border-bottom: 1px solid #673ab7;
}

#signInUpTab li button {
    font-size: 20px;
    padding: 20px 50px;
    color: rgb(104, 104, 104);
    background-color: rgba(228, 228, 228, 0.719);
    border-bottom: 1px solid #673ab7;
}

.nav-link.active {
    color: #673ab7 !important;
    background-color: white !important;
    border: 1px solid;
    border-bottom: 1px solid white !important;
    box-shadow: #683ab749 5px 6px 6px -5px inset;
}

.sign-up-form-container label {
    margin-bottom: 3px;

}

.sign-up-form-container ::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 14px;
}

.btnSignUp {
    background-color: #673ab7;
    color: white;
    float: right;
    margin-top: 30px;
}

.btnSignUp:hover{
    background-color: #7437dd;
}

.btnSignUp:active {
    background-color: #5f2db6;
    color: white;
}

