
#breadcrumb-container{
    margin: 16px 0px;
}

#breadcrumbs{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.breadcrumbs-link{
    text-decoration: none;
    color: rgb(145, 144, 144);
    font-weight: 500;
}