
<div class="section-wrapper">

    <div class="row">

        <div id="breadcrumb-container">
            <div id="breadcrumbs-wrapper">
                <ul id="breadcrumbs">
    
                    <li class="breadcrumbs-item">
                        <a class="breadcrumbs-link" routerLink="">Home</a>
                        <span><i class="bi bi-chevron-right"></i></span>
                    </li>
                    <li class="breadcrumbs-item">
                        <a class="breadcrumbs-link" routerLink="">Category</a>
                        <span><i class="bi bi-chevron-right"></i></span>
                    </li>
                    <li class="breadcrumbs-item">
                        <a class="breadcrumbs-link" routerLink="">Sub Category 1</a>
                        <span><i class="bi bi-chevron-right"></i></span>
                    </li>
                    <li class="breadcrumbs-item">
                        <a class="breadcrumbs-link" routerLink="">Sub Category 2</a>
                        <span><i class="bi bi-chevron-right"></i></span>
                    </li>
                    <li class="breadcrumbs-item">
                        <a class="breadcrumbs-link" routerLink="">Sub Category 3</a>
                    </li>
                   
                </ul>
            </div>
    
        </div>
    </div>

</div>


