

<div id="brandSlider">

    <div class="chevron" id="chevronLeft">
        <i class="bi bi-chevron-left"></i>
    </div>
    

    <div id="brandSliderContainer">

        <div class="brand-slider" id="draggable">
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/nike.png" alt="">
                    <span>Nike</span>
                </a>
            </div>
            
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/apple.png" alt="">
                    <span>Apple</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/xiaomi.png" alt="">
                    <span>Xiaomi</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/samsung.png" alt="">
                    <span>Samsung</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/philips.png" alt="">
                    <span>Philips</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/puma.png" alt="">
                    <span>Puma</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/hummel.png" alt="">
                    <span>Hummel</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/us-polo.png" alt="">
                    <span>U.S. Polo Assn.</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/adidas.png" alt="">
                    <span>Adidas</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/lcwaikiki.png" alt="">
                    <span>LC Waikiki</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/mavi.png" alt="">
                    <span>Mavi</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/jack&jones.png" alt="">
                    <span>Jack & Jones</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/pierre-cardin.png" alt="">
                    <span>Pierre Cardin</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/monster.png" alt="">
                    <span>Monster</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/rampage.png" alt="">
                    <span>Rampage</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/huawei.png" alt="">
                    <span>Huawei</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/karaca.png" alt="">
                    <span>Karaca</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/defacto.png" alt="">
                    <span>Defacto</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/ds-damat.png" alt="">
                    <span>D'S Damat</span>
                </a>
            </div>
            <div class="brand-slider-item">
                <a routerLink="">
                    <img src="/assets/brands/avon.png" alt="">
                    <span>Avon</span>
                </a>
            </div>
            
        </div>
    
    </div>

    <div class="chevron" id="chevronRight">
        <i class="bi bi-chevron-right"></i>
    </div>

</div>






<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>
<p style="margin: 50px;">home works!</p>