<div class="center" style="margin-bottom:10px;">
    <ngx-file-drop dropZoneLabel="Drop files here" [accept]="options.accept" (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <div class="fileDropArea">
                {{options.explanation}}
                <button mat-raised-button class="ChooseFileBtn" type="button" (click)="openFileSelector()">Dosya
                    Seç</button>
            </div>

        </ng-template>
    </ngx-file-drop>
    <div style="margin-top:10px" class="upload-table" *ngIf="files">
        <table class="table">
            <thead>
                <tr>
                    <th style="font-weight: 500;">Seçilen Dosyalar;</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td>{{ i +1 + '. '+ item.relativePath }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>