.fileDropArea{
    text-align: center !important;
    padding: 10px;
    font-weight: 300;
    font-size: 14px;
}

.ChooseFileBtn{
    background-color: #ffda6a;
}

// .ChooseFileBtn:hover {
//     background-color: rgb(85, 85, 85);
//     color: white;
// }