<div class="row">

    <div id="categoryContainer" class="d-none d-lg-block me-4">

        <h2>Related Categories</h2>
        <ul>
            <li>Category 1</li>
            <li>Category 2</li>
            <li>Category 3</li>
            <li>Category 4</li>
            <li>Category 5</li>
            <li>Category 6</li>
        </ul>

        <div style="margin-bottom: 1500px"></div>
    </div>

    <div id="productListContent">

        <div id="productListHeader">
            <div id="headerTop">
                <span id="productCount">
                    <h2>{{totalProductCount}} products are listed</h2>
                </span>
                <div id="orderBySelection">
                    <select class="form-select" aria-label="Order" (change)="onSelectChangeEvent($event)">
                        <option class="select-option" selected value="0">Best Selling</option>
                        <option class="select-option" value="lowest">Lowest Price</option>
                        <option class="select-option" value="highest">Highest Price</option>
                        <option class="select-option" value="newest">The Newests</option>
                    </select>
                </div>
            </div>
            <div id="headerBottom">

            </div>
        </div>


        <div id="productListContainer col-xxl-12">

            <div class="product-container col-xxl-3 col-xl-4 col-md-6 col-sm-6" *ngFor="let product of products">

                <div class="card">

                    <a class="product-link" [routerLink]="generateLink(product)">

                        <div class="product-image-container">

                            <div class="product-image-header"></div>

                            <img class="img-fluid" *ngIf="!product.productImageFiles.length"
                                src="/assets/images/no-image.jpg" class="product-img card-img-top" alt="...">

                            <img class="img-fluid" *ngIf="product.productImageFiles.length" [src]="product.imagePath"
                                class="product-img card-img-top" alt="...">

                        </div>

                        <div class="product-body card-body">

                            <p class="product-text card-text"><b>{{product.name}}</b> Some quick example text to build
                                on
                                the card title and
                                make up
                                the...</p>

                            <span class="pr-evaluation-stars">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            </span>

                            <span class="product-evaluation-count"> (1532) </span>

                            <span> <i class="bi bi-camera-fill"></i></span>

                            <div class="product-price">
                                <p>{{product.price}} $</p>
                            </div>
                        </div>

                    </a>

                </div>


            </div>

        </div>

        <div class="clear"></div>

        <br>

        <div id="productListPagination" *ngIf="totalPageCount > 1">

            <hr>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center pagination-lg">
                    <li class="page-item">
                        <a class="page-link" [accessKey]="currentPageNo - 1 > 1 ? currentPageNo - 1 : 1"
                            (click)="onPageChangeEvent($event)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let pageNo of pageNumberList">
                        <a *ngIf="pageNo == currentPageNo" class="page-link active" [accessKey]="pageNo" (click)="onPageChangeEvent($event)">{{pageNo}}</a>
                        <a *ngIf="pageNo != currentPageNo" class="page-link" [accessKey]="pageNo" (click)="onPageChangeEvent($event)">{{pageNo}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                            [accessKey]="currentPageNo + 1 < totalPageCount ? currentPageNo + 1 : totalPageCount"
                            (click)="onPageChangeEvent($event)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>