.container {
    max-width: 1650px;
}

.bg-light {
    background-color: #673ab7 !important;
}

.nav-item a:not(.dropdown-item) {
    color: white;
}

.navbar-brand {
    color: white;
    font-weight: 500;
}