.container {
    max-width: 1650px;
}

.header {
    padding: 0;
}

.header-top {
    line-height: 35px;
    background-color: rgb(241, 241, 241);
}

.header-top .bi-truck {
    position: relative;
    top: 2px;
    font-size: 18px;
    color: black;
}

.header-top a {
    text-decoration: none;
    color: rgb(46, 46, 46);
}

.header-top a:hover {
    text-decoration: underline !important;
    color: black;
}

.header-middle {
    background-color: white;
}

.header-middle-left {
    display: flex;
    align-items: center;
}

#logo {
    font-size: 38px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.search {
    padding: 10px;
}

.search-input {
    border-top-left-radius: 18px !important;
    border-bottom-left-radius: 18px !important;
    height: 30px;
    font-size: 14px;
}

.search-btn {
    border-top-right-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    height: 30px;
    line-height: 15px;
}


.input-group {
    padding: 20px 0px 20px 0px;
}

.inner-addon {
    position: relative;
}

.inner-addon .bi {
    color: rgb(122 122 122);
    font-weight: 900;
    font-size: 18px;
    z-index: 10;
    position: absolute;
    padding: 6px 6px 6px 10px;
    pointer-events: none;
}

/* align bi */
.left-addon .bi {
    left: 0px;
}

.right-addon .bi {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 35px;
}

.header-middle-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-middle-right div.hmr-item:last-child{
    width: 22px;
    margin-left: 25px;
}

.hmr-item {
    float: right;
    width: 100px;
    text-align: center;
}

.hmr-item i {
    font-size: 24px;
    display: block;
    color: #673ab7;
}

.hmr-item a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
}

.hmr-item a:hover {
    color: #673ab7;
}

.hmr-item-btn{
    color: #333;
}

.hmr-text{
    white-space: nowrap;
}

.login-dropdown {
    position: relative;
    display: inline-block;
}

.login-dropdown-content {
    display: none;
    font-weight: 400;
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 7%);
    border: solid 1px #e6e6e6;
    border-radius: 6px;
    position: absolute;
    z-index: 10;
    right: -66px;
    width: 196px;
    height: auto;
    top: 52px;
    cursor: pointer;
}

.login-dropdown-content::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 0.6em solid transparent;
    border-right: 0.6em solid transparent;
    border-bottom: 0.6em solid white;
    position: absolute;
    bottom: 100%;
    left: 88px;
    z-index: 1;

}

.login-dropdown-content::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 0.75em solid transparent;
    border-right: 0.75em solid transparent;
    border-bottom: 0.75em solid #ebebeb;
    position: absolute;
    bottom: 100%;
    left: 86px;

}

.login-dropdown:hover .login-dropdown-content {
    display: block;
}


.user-notloggedin-container{
    padding: 16px;
}

.user-notloggedin-container span{
    font-size: 12px;
    font-weight: normal;
    display: block;
}

.btn-login {
    background-color: #673ab7;
    color: white !important;
    display: block;
    font-weight: 600 !important;
}
.btn-login:active {
    background-color: #5f2db6;
    color: white;
}


.btn-register {
    background-color: white;
    border: 1px solid #673ab7;
    color: #673ab7 !important;
    display: block;
    margin-bottom: 10px;
    font-weight: 600 !important;
}

.user-loggedin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
}

.user-loggedin-container p {
    margin-bottom: 10px;
    font-weight: 500;
    color: #673ab7;
}

.user-loggedin-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
    line-height: 32px;
    width: 100%;
    box-sizing: border-box;
}

.bg-light {
    background-color: #673ab7 !important;
}

.nav-item{
    padding: 0px 10px 0px 10px;
}

.navbar-nav li.nav-item:first-child {
    padding-left: 0px;
}

.navbar-nav li.nav-item:first-child a {
    padding-left: 0px;
}

.navbar-nav li.nav-item:last-child {
    padding-right: 0px;
}

.navbar-nav li.nav-item:last-child a {
    padding-right: 0px;
}

.nav-item a:not(.dropdown-item) {
    color: white;
}

.navbar-toggler {
    border: solid 1px;
}

.navbar-toggler span {
    margin-bottom: 10px;
    height: 28px;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler .menu-txt {
    position: relative;
    top: 21px;
    right: 1px;
    font-size: 13px;
    color: white;
}