<div class="container-fluid">

    <div class="row">
        <div class="header header-top">
            <div style="float: left;">
                <p style="margin: 0;">Free Shipping on Purchases of 100 $ or More</p>
            </div>
            <div style="float: right;">
                <a href="#"><i class="bi bi-truck"></i> &nbsp;Order Tracking</a>
            </div>
        </div>
        <div class="header header-middle sticky-top" id="header-middle">
            <div class="container-fluid">
                <div class="row">

                    <div class="header-middle-left col-sm-3">
                        <a class="navbar-brand" routerLink="">Mini E-Commerce</a>
                    </div>

                    <div class="search header-middle-center col-sm-6">
                        <form role="search">
                            <div class="input-group inner-addon left-addon">
                                <i class="bi bi-search"></i>
                                <input type="search" class="form-control search-input" placeholder="Search"
                                    aria-label="Search" aria-describedby="btnSearch">
                                <button class="btn btn-outline-secondary search-btn" type="submit"
                                    id="btnSearch">Search</button>
                            </div>
                        </form>
                    </div>

                    <div class="header-middle-right col-sm-3">
                        <div class="sign-in-container hmr-item">
                            <div class="sign-in-item login-dropdown">

                                <a href="" routerLink="login" class="login-dropbtn hmr-item-btn">
                                    <i class="bi bi-person-up"></i>
                                    <span style="padding:16px;" *ngIf="!authService.isAuthenticated">Sign in</span>
                                    <span style="padding:16px;" *ngIf="authService.isAuthenticated">My Account</span>
                                </a>

                                <div class="login-dropdown-content">
                                    <div class="user-notloggedin-container" *ngIf="!authService.isAuthenticated">
                                        <span style="margin-bottom:10px;">We will be happy to see you among us</span>

                                        <a href="register" class="user-notloggedin-item btn btn-register">Sign Up</a>
                                        <a href="login" class="user-notloggedin-item btn btn-login">Sign In</a>

                                    </div>
                                    <div class="user-loggedin-container" *ngIf="authService.isAuthenticated">
                                        <p>Sezer.Ayran@Gmail.Com</p>

                                        <a href="" class="user-loggedin-item">
                                            <span class="icon myicon-box"></span>
                                            Orders
                                        </a>
                                        <a href="" class="user-loggedin-item">
                                            <span class="icon myicon-envelope"></span>
                                            Messages
                                        </a>
                                        <a href="" class="user-loggedin-item">
                                            <span class="icon myicon-discount-coupon"></span>
                                            Discount Coupons
                                        </a>
                                        <a href="" class="user-loggedin-item">
                                            <span class="icon myicon-user"></span>
                                            User Information
                                        </a>
                                        <a class="user-loggedin-item" (click)="signOut()">
                                            <span class="icon myicon-sign-out"></span>
                                            Sign Out
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="my-favorite hmr-item">
                            <a href="" class="hmr-item-btn">
                                <i class="bi bi-heart"></i>
                                <span>Favorites</span>
                            </a>
                        </div>

                        <div class="my-cart hmr-item">
                            <a href="" class="hmr-item-btn">
                                <i class="bi bi-cart3"></i>
                                <span>Cart</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header header-bottom">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid" style="padding-left:22px;">
                    <button class="navbar-toggler" type="button" style="padding-top: 0px;" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <span class="menu-txt">
                                Menu
                            </span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="">WOMEN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="">MEN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="">CHILD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="">COSMETIC</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="">ELEKTRONIC</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="">SHOES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="">ACCESSORY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="">SPORTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="products">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="baskets">Baskets</a>
                            </li>
                            <li>
                                <a class="btn btn-outline-warning" type="submit" routerLink="admin">Admin Panel</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>

        <div>

            <router-outlet></router-outlet>

        </div>

    </div>
</div>



<ngx-spinner name="s1" size="medium" type="ball-scale-multiple"></ngx-spinner>
<ngx-spinner name="s2" size="medium" type="ball-spin-clockwise"></ngx-spinner>
<ngx-spinner name="s3" size="medium" type="line-scale"></ngx-spinner>