:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-full-width {
    width: 100%;
}

.mat-raised-button {
    float: right;
}

.invisible{
    display: none;
}

#btnCancel{
    background-color: rgb(118 118 118);
    color: white;
}

#btnUpdate{
    background-color: rgb(33, 156, 64);
    color: white;
    margin-left: 20px;
}