<div class="section-wrapper">


    <div class="card noItemCont" *ngIf="cartItems.length <=0">
        <span id="noItemText">There are no items in your shopping cart.</span>
        <a id="iLucky" routerLink="" class="btn">
            <span>I'm Feeling Lucky</span>
        </a>
    </div>

    <div class="content">

        <div id="myCartContainer" class="card">

            <div id="header">
                <h1>Shopping Cart ({{totalItemCount > 1 ? totalItemCount + " items" : totalItemCount +" item"}})</h1>
            </div>

            <div *ngFor="let item of cartItems">

                <div class="seller-container">

                    <div class="checkbox">
                        <mat-checkbox color="primary" name="modalead"></mat-checkbox>
                    </div>

                    <div class="seller-info">
                        <span>Seller: </span>
                        <a class="seller-link" href="">modalead</a>
                        <span id="ratingScore">9.9</span>
                    </div>

                </div>

                <div class="cart-items-container">
                    <div class="cart-item-left">

                        <div class="ci-checkbox checkbox">
                            <mat-checkbox color="primary" name="modalead-item"></mat-checkbox>
                        </div>

                        <div class="ci-detail">
                            <div class="pr-image">
                                <img class="pr-image" src="{{storageUrl + '/'+ item.imagePath}}" alt="">
                            </div>
                            <div class="pr-detail">
                                <h2>{{item.name}}</h2>
                                <div class="pr-color">Color: <span>Black</span></div>
                                <div class="pr-size">Size: <span>XL</span> </div>
                                <div class="pr-delivery-time">Estimated Delivery Time: <span>15 January</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="cart-item-right">

                        <div class="ci-quantity">
                            <button class="number-btn" value="-" (click)="onButtonClick(item, $event)">-</button>

                            <input class="number-text" [accessKey]="item.cartItemId" type="text"
                                value="{{item.quantity}}" (change)="onQuantityChange(item, $event)">

                            <button class="number-btn" value="+" (click)="onButtonClick(item, $event)">+</button>
                        </div>

                        <div class="ci-price">
                            <span>{{item.price | currency:'USD'}}</span>
                        </div>

                        <div class="delete-btn">
                            <img class="btn-delete" src="/assets/icons/delete.png" width="25" height="25" />
                        </div>
                    </div>

                </div>

                <hr class="ci-hr">

            </div>

        </div>

        <div id="orderSummaryContainer" class="card">

            <h1>Order Summary</h1>
            <div id="subtotalCont">
                <h3>Subtotal (<span id="subtotalCount">{{totalItemCount > 1 ? totalItemCount + " items" : totalItemCount
                        +" item"}}</span>)</h3>
                <span class="priceText" id="subtotalPrice">{{subTotalPrice |currency :'USD'}}</span>
            </div>

            <div id="shippingCont">
                <h3>Shipping</h3>
                <span class="priceText" id="shippingPrice">Free</span>
            </div>

            <hr>

            <div id="totalCont">
                <h1>Total</h1>
                <span class="priceText" id="totalPrice">{{subTotalPrice |currency :'USD'}}</span>
            </div>

            <div>
                <button id="btnCheckout" class="btn">Proceed to Checkout</button>
            </div>

            <hr>

            <div id="discountCont">
                <span id="discountHeader">Discount Code</span>
                <div class="discount-content">
                    <input id="txtDiscount" type="text">
                    <button id="btnDiscount" class="btn">Redeem</button>
                </div>
            </div>
        </div>

    </div>

</div>