.noItemCont {
    margin-top: 20px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#noItemText {
    display: block;
    font-size: 22px;
    font-weight: 400;
}

#iLucky {
    color: white;
    font-size: 18px;
    width: 250px;
    height: 60px;
    background-color: var(--deepPurple);
    display: flex;
    align-items: center;
    justify-content: center;
}

#iLucky:hover {
    background-color: #491c97e8;
}

.content {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

#myCartContainer {
    padding-top: 20px;
    width: 78%;
    height: 100%;
    margin-right: 20px;
}

#myCartContainer div.wrapper:last-child hr.ci-hr {
    display: none;
}

#header {
    padding-left: 20px;
}

.seller-container {
    display: flex;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.checkbox {
    min-width: 60px;
    width: 60px;
    text-align: center;
}

.seller-info {
    position: relative;
    top: 1px;
}

#ratingScore {
    background-color: rgb(5 153 37);
    font-family: sans-serif;
    color: white;
    font-size: 11px;
    padding: 3px 4px;
    border-radius: 5px;
    margin: 0px 5px;
    position: relative;
    top: -2px;
    font-weight: 600;
    width: 20px;
}

.seller-link {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.cart-items-container {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.cart-item-left {
    width: 50%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.cart-item-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ci-detail {
    display: flex;
}


.productLink {
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.pr-image {
    width: 80px;
    height: 120px;
    margin-right: 10px;
}

.pr-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 177px;
    font-weight: 600;
    font-family: sans-serif;
}

.pr-detail span {
    font-weight: 400;
}

.brandName {
    font-weight: 600 !important;
}

.pr-name {
    max-height: 58px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productName {
    color: var(--orange);
    font-size: 14px;
    font-weight: 600 !important;
}

.ci-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-text {
    height: 36px;
    width: 40px;
    text-align: center;
    border: none;
    border-top: 1px solid rgb(207, 207, 207);
    border-bottom: 1px solid rgb(207, 207, 207);
}

.number-btn {
    cursor: pointer;
    height: 36px;
    width: 26px;
    border: 1px solid rgb(207, 207, 207);
    background-color: rgb(248, 248, 248);
}


.ci-price span {
    font-size: 20px;
    font-weight: 500;
}

.ci-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 40px;
    cursor: pointer;
}

.ci-hr {
    margin: 0px;
    color: rgb(139, 139, 139);
}

#orderSummaryContainer {
    float: right !important;
    padding: 20px;
    margin-bottom: 20px;
    width: 20.8%;
    position: relative;
    min-width: 240px;
}

.right-price-explain {
    font-size: 16px;
}

.right-price-text {
    font-size: 20px;
    font-weight: 500;
}


#subtotalCont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#shippingCont {
    display: flex;
    justify-content: space-between;
}

#totalCont {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#btnCheckout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    width: 100%;
    height: 50px;
    min-width: 200px;
    background-color: var(--deepPurple);
    color: white;
}

#btnCheckout:hover {
    background-color: var(--darkPurple);
}

#discountHeader {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

.discount-content {
    display: flex;
    justify-content: space-between;
}

#txtDiscount {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin-right: 20px;
}

#btnDiscount {
    background-color: var(--deepPurple);
    color: white;
    height: 50px;
}

#btnDiscount:hover {
    background-color: var(--darkPurple);
}

.modal-dialog {
    width: 600px !important;
}

.modal-body-top {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.mbt-icon {
    margin-bottom: 15px;
    width: 80px;
    height: 80px;
}

.modal-body-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.mbt-text {
    font-size: 14px;
}


#mbb-pr-name {
    text-align: center;
    color: #ff6000;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}

.modal-footer {
    justify-content: space-between;
    border: none;
}

#btnRemoveAddFavorites {
    background-color: var(--deepPurple);
    color: white;
    font-size: 14px;
    height: 40px;
    padding: 0px 30px;
}

#modalCancelBtn {
    margin-right: 10px;
    border: 1px solid #adadad;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    width: 80px;
}

#modalCancelBtn:hover {
    border-color: var(--deepPurple);
    color: var(--deepPurple);
}

#modalRemoveBtn {
    border: 1px solid #adadad;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    width: 80px;
}

#modalRemoveBtn:hover {
    border-color: var(--deepPurple);
    color: var(--deepPurple);
}