@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.section-wrapper {
  padding: 0px 30px;
  margin: 0;
  height: 100%;
}

.myRow {
  margin: 0px !important;
  padding: 0px !important;
}

.container {
  margin: 0px;
  padding: 0px;
}

:root {
  --deepPurple: #673ab7;
  --darkPurple: #4f2992;
  --orange: #ff6000;
  --darkOrange: #B12704;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #faf9f9;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: var(--deepPurple) rgba(104, 58, 183, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--deepPurple) !important;
  outline: 0 none;
}